body{
    color: #333;
    background-color: rgba(0,0,0,0.03);
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*,*::before , *::after{
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active{
    color: #d03c56;
    text-decoration: none;
}

.btn-flat-border {
    height: 80px;
    width: 80px;
    margin: 0px 10px 10px 0px;
  font-size: 1.8em;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: rgb(250, 250, 250);
  color: #d03c56;
  border: solid 2px #d03c56;
  border-radius: 3px;
  transition: .2s;
}

.btn-flat-border:hover {
  background: #d03c56;
  color: white;
}

.btn-wrap {
    /* display: inline-block; */
    vertical-align: middle;
    height: 90px;
}

.field {
    height: 80px;
    width: 350px;
    font-size: 1.8em;
    margin: 0px 10px 10px 0px;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  background: rgb(196, 195, 195);
  color: #272727;
  border: solid 5px #000000;
  border-radius: 5px;
}